USE [master]
GO
/****** Object:  Database [LpuDB]    Script Date: 27-01-2026 21:18:22 ******/
CREATE DATABASE [LpuDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LpuDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS01\MSSQL\DATA\LpuDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LpuDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS01\MSSQL\DATA\LpuDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LpuDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LpuDB]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 27-01-2026 21:18:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerId] [int] NOT NULL,
	[FullName] [varchar](100) NOT NULL,
	[City] [varchar](50) NOT NULL,
	[Segment] [varchar](20) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedOn] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department_Table]    Script Date: 27-01-2026 21:18:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department_Table](
	[Dept_Id] [int] NOT NULL,
	[Dept_Name] [varchar](500) NULL,
 CONSTRAINT [PK_Department_Table] PRIMARY KEY CLUSTERED 
(
	[Dept_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee_Table]    Script Date: 27-01-2026 21:18:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee_Table](
	[EmpId] [int] NOT NULL,
	[EmpName] [varchar](500) NOT NULL,
	[Salary] [decimal](18, 2) NULL,
	[Dept_Id] [int] NULL,
 CONSTRAINT [PK_Employee_Table] PRIMARY KEY CLUSTERED 
(
	[EmpId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 27-01-2026 21:18:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[OrderDate] [date] NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[PaymentMode] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales_Staff]    Script Date: 27-01-2026 21:18:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales_Staff](
	[staff_id] [int] NOT NULL,
	[first_name] [varchar](50) NULL,
	[last_name] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[phone] [varchar](50) NULL,
	[active] [tinyint] NULL,
	[store_id] [int] NULL,
	[manager_id] [int] NULL,
 CONSTRAINT [PK_Sales_Staff] PRIMARY KEY CLUSTERED 
(
	[staff_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesCustomers]    Script Date: 27-01-2026 21:18:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesCustomers](
	[customer_id] [int] NOT NULL,
	[first_name] [varchar](50) NOT NULL,
	[last_name] [varchar](50) NULL,
	[phone] [varchar](50) NULL,
	[email] [varchar](50) NOT NULL,
	[street] [varchar](50) NULL,
	[city] [varchar](50) NULL,
	[state] [varchar](50) NULL,
	[zip_code] [varchar](50) NULL,
 CONSTRAINT [PK_SalesCustomers] PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesOrderItems]    Script Date: 27-01-2026 21:18:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesOrderItems](
	[order_id] [int] NOT NULL,
	[item_id] [int] NOT NULL,
	[product_id] [int] NULL,
	[quantity] [int] NULL,
	[list_price] [decimal](18, 2) NULL,
	[discount] [decimal](18, 2) NULL,
 CONSTRAINT [PK_SalesOrderItems] PRIMARY KEY CLUSTERED 
(
	[order_id] ASC,
	[item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesOrders]    Script Date: 27-01-2026 21:18:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesOrders](
	[order_id] [int] NOT NULL,
	[customer_id] [int] NULL,
	[order_status] [tinyint] NULL,
	[order_date] [date] NULL,
	[required_date] [date] NULL,
	[shipped_date] [date] NULL,
	[store_id] [int] NULL,
	[staff_id] [int] NULL,
 CONSTRAINT [PK_SalesOrders] PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesStores]    Script Date: 27-01-2026 21:18:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesStores](
	[store_id] [int] NOT NULL,
	[store_name] [varchar](50) NULL,
	[phone] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[street] [varchar](50) NULL,
	[state] [varchar](50) NULL,
	[zip_code] [varchar](50) NULL,
 CONSTRAINT [PK_SalesStores] PRIMARY KEY CLUSTERED 
(
	[store_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_1]    Script Date: 27-01-2026 21:18:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_1](
	[Order_id] [int] NULL,
	[customer_id] [int] NULL,
	[order_status] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_department]    Script Date: 27-01-2026 21:18:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_department](
	[Dept_Id] [int] NOT NULL,
	[Dept_Name] [varchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Customers] ([CustomerId], [FullName], [City], [Segment], [IsActive], [CreatedOn]) VALUES (101, N'Gopi Suresh', N'Coimbatore', N'Retail', 1, CAST(N'2025-11-12' AS Date))
INSERT [dbo].[Customers] ([CustomerId], [FullName], [City], [Segment], [IsActive], [CreatedOn]) VALUES (102, N'Anita Ravi', N'Chennai', N'Corporate', 1, CAST(N'2025-10-05' AS Date))
INSERT [dbo].[Customers] ([CustomerId], [FullName], [City], [Segment], [IsActive], [CreatedOn]) VALUES (103, N'Karthik Mohan', N'Bengaluru', N'Retail', 1, CAST(N'2025-09-15' AS Date))
GO
INSERT [dbo].[Department_Table] ([Dept_Id], [Dept_Name]) VALUES (1, N'Dept1')
INSERT [dbo].[Department_Table] ([Dept_Id], [Dept_Name]) VALUES (2, N'Dept2')
INSERT [dbo].[Department_Table] ([Dept_Id], [Dept_Name]) VALUES (3, N'Dept3')
GO
INSERT [dbo].[Employee_Table] ([EmpId], [EmpName], [Salary], [Dept_Id]) VALUES (1, N'a', CAST(1.22 AS Decimal(18, 2)), 1)
INSERT [dbo].[Employee_Table] ([EmpId], [EmpName], [Salary], [Dept_Id]) VALUES (2, N'b', CAST(2.05 AS Decimal(18, 2)), 2)
INSERT [dbo].[Employee_Table] ([EmpId], [EmpName], [Salary], [Dept_Id]) VALUES (3, N'fsd', CAST(5.14 AS Decimal(18, 2)), 2)
GO
INSERT [dbo].[Orders] ([OrderId], [CustomerId], [OrderDate], [Amount], [Status], [PaymentMode]) VALUES (5001, 101, CAST(N'2026-01-10' AS Date), CAST(1200.00 AS Decimal(10, 2)), N'Delivered', N'UPI')
INSERT [dbo].[Orders] ([OrderId], [CustomerId], [OrderDate], [Amount], [Status], [PaymentMode]) VALUES (5002, 101, CAST(N'2026-01-15' AS Date), CAST(850.00 AS Decimal(10, 2)), N'Pending', N'Card')
INSERT [dbo].[Orders] ([OrderId], [CustomerId], [OrderDate], [Amount], [Status], [PaymentMode]) VALUES (5003, 102, CAST(N'2026-01-05' AS Date), CAST(5000.00 AS Decimal(10, 2)), N'Delivered', N'Card')
GO
INSERT [dbo].[Sales_Staff] ([staff_id], [first_name], [last_name], [email], [phone], [active], [store_id], [manager_id]) VALUES (1, N'Rahul', N'Sharma', N'rahul@store.com', N'9000000001', 1, 1, NULL)
INSERT [dbo].[Sales_Staff] ([staff_id], [first_name], [last_name], [email], [phone], [active], [store_id], [manager_id]) VALUES (2, N'Anita', N'Verma', N'anita@store.com', N'9000000002', 1, 1, 1)
INSERT [dbo].[Sales_Staff] ([staff_id], [first_name], [last_name], [email], [phone], [active], [store_id], [manager_id]) VALUES (3, N'Suresh', N'Kumar', N'suresh@store.com', N'9000000003', 1, 2, NULL)
GO
INSERT [dbo].[SalesCustomers] ([customer_id], [first_name], [last_name], [phone], [email], [street], [city], [state], [zip_code]) VALUES (1, N'Amit', N'Patel', N'8000000001', N'amit@gmail.com', N'Nehru Street', N'Ahmedabad', N'Gujarat', N'380001')
INSERT [dbo].[SalesCustomers] ([customer_id], [first_name], [last_name], [phone], [email], [street], [city], [state], [zip_code]) VALUES (2, N'Priya', N'Singh', N'8000000002', N'priya@gmail.com', N'Park Lane', N'Delhi', N'Delhi', N'110002')
GO
INSERT [dbo].[SalesOrderItems] ([order_id], [item_id], [product_id], [quantity], [list_price], [discount]) VALUES (101, 1, 501, 2, CAST(1500.00 AS Decimal(18, 2)), CAST(0.10 AS Decimal(18, 2)))
INSERT [dbo].[SalesOrderItems] ([order_id], [item_id], [product_id], [quantity], [list_price], [discount]) VALUES (101, 2, 502, 1, CAST(2500.00 AS Decimal(18, 2)), CAST(0.05 AS Decimal(18, 2)))
INSERT [dbo].[SalesOrderItems] ([order_id], [item_id], [product_id], [quantity], [list_price], [discount]) VALUES (102, 1, 503, 3, CAST(800.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[SalesOrders] ([order_id], [customer_id], [order_status], [order_date], [required_date], [shipped_date], [store_id], [staff_id]) VALUES (101, 1, 4, CAST(N'2025-01-05' AS Date), CAST(N'2025-01-10' AS Date), CAST(N'2025-01-08' AS Date), 1, 2)
INSERT [dbo].[SalesOrders] ([order_id], [customer_id], [order_status], [order_date], [required_date], [shipped_date], [store_id], [staff_id]) VALUES (102, 2, 2, CAST(N'2025-01-07' AS Date), CAST(N'2025-01-12' AS Date), NULL, 2, 3)
GO
INSERT [dbo].[SalesStores] ([store_id], [store_name], [phone], [email], [street], [state], [zip_code]) VALUES (1, N'Central Store', N'9876543210', N'central@store.com', N'MG Road', N'Karnataka', N'560001')
INSERT [dbo].[SalesStores] ([store_id], [store_name], [phone], [email], [street], [state], [zip_code]) VALUES (2, N'North Store', N'9123456780', N'north@store.com', N'Ring Road', N'Delhi', N'110001')
GO
INSERT [dbo].[tbl_department] ([Dept_Id], [Dept_Name]) VALUES (55, N'Updated Dept')
INSERT [dbo].[tbl_department] ([Dept_Id], [Dept_Name]) VALUES (62, N'Healthcare')
INSERT [dbo].[tbl_department] ([Dept_Id], [Dept_Name]) VALUES (3, N'Dept3')
GO
ALTER TABLE [dbo].[Employee_Table]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Table_Department_Table] FOREIGN KEY([Dept_Id])
REFERENCES [dbo].[Department_Table] ([Dept_Id])
GO
ALTER TABLE [dbo].[Employee_Table] CHECK CONSTRAINT [FK_Employee_Table_Department_Table]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Customers]
GO
ALTER TABLE [dbo].[Sales_Staff]  WITH CHECK ADD  CONSTRAINT [FK_Sales_Staff_Sales_Staff] FOREIGN KEY([manager_id])
REFERENCES [dbo].[Sales_Staff] ([staff_id])
GO
ALTER TABLE [dbo].[Sales_Staff] CHECK CONSTRAINT [FK_Sales_Staff_Sales_Staff]
GO
ALTER TABLE [dbo].[Sales_Staff]  WITH CHECK ADD  CONSTRAINT [FK_Sales_Staff_SalesStores] FOREIGN KEY([store_id])
REFERENCES [dbo].[SalesStores] ([store_id])
GO
ALTER TABLE [dbo].[Sales_Staff] CHECK CONSTRAINT [FK_Sales_Staff_SalesStores]
GO
ALTER TABLE [dbo].[SalesOrderItems]  WITH CHECK ADD  CONSTRAINT [FK_SalesOrderItems_SalesOrders] FOREIGN KEY([order_id])
REFERENCES [dbo].[SalesOrders] ([order_id])
GO
ALTER TABLE [dbo].[SalesOrderItems] CHECK CONSTRAINT [FK_SalesOrderItems_SalesOrders]
GO
ALTER TABLE [dbo].[SalesOrders]  WITH CHECK ADD  CONSTRAINT [FK_SalesOrders_Sales_Staff] FOREIGN KEY([staff_id])
REFERENCES [dbo].[Sales_Staff] ([staff_id])
GO
ALTER TABLE [dbo].[SalesOrders] CHECK CONSTRAINT [FK_SalesOrders_Sales_Staff]
GO
ALTER TABLE [dbo].[SalesOrders]  WITH CHECK ADD  CONSTRAINT [FK_SalesOrders_SalesCustomers] FOREIGN KEY([customer_id])
REFERENCES [dbo].[SalesCustomers] ([customer_id])
GO
ALTER TABLE [dbo].[SalesOrders] CHECK CONSTRAINT [FK_SalesOrders_SalesCustomers]
GO
ALTER TABLE [dbo].[SalesOrders]  WITH CHECK ADD  CONSTRAINT [FK_SalesOrders_SalesStores] FOREIGN KEY([store_id])
REFERENCES [dbo].[SalesStores] ([store_id])
GO
ALTER TABLE [dbo].[SalesOrders] CHECK CONSTRAINT [FK_SalesOrders_SalesStores]
GO
/****** Object:  StoredProcedure [dbo].[MyPractice]    Script Date: 27-01-2026 21:18:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--use LpuDB

--create procedure MyPractice
CREATE procedure [dbo].[MyPractice]
-- Optional or Parameters
@City varchar(50)
as
Begin

SELECT * from Customers where City = @City
END

GO
/****** Object:  StoredProcedure [dbo].[Sp_CrudOperations]    Script Date: 27-01-2026 21:18:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Sp_CrudOperations]

AS
BEGIN

-- Read
SELECT * 
from tbl_department

-- INSERT
INSERT INTO tbl_department(Dept_Id,Dept_Name)
VALUES
	(5,'Dept_5'),
	(6,'Dept_6')

-- UPDATE
UPDATE tbl_department
SET
	Dept_Id=55,
	Dept_Name='Updated Dept'
WHERE Dept_Id=5

-- DELETE
DELETE FROM tbl_department
WHERE Dept_Id=1

END
GO
/****** Object:  StoredProcedure [dbo].[Sp_GetCustomerByNameAndCity]    Script Date: 27-01-2026 21:18:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--use LpuDB

--create procedure MyPractice
--as
--begin

--SELECT * from Customers

--END

--go
--exec MyPractice

--alter procedure MyPractice
---- Optional or Parameters
--@City varchar(50)
--as
--Begin

--SELECT * from Customers where City = @City
--END

--go
--exec MyPractice 'Coimbatore'


--=================================================================================================================================
-- =============================================
-- Author:		Annu Gill
-- Create date: 22-01-2026
-- Description:	Sample SP
-- =============================================
--CREATE PROCEDURE [dbo].[Sp_GetCustomerByNameAndCity]
CREATE PROCEDURE [dbo].[Sp_GetCustomerByNameAndCity]

	-- Add the parameters for the stored procedure here
	@Name varchar(100),
	@City varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT *from Customers where FullName=@Name AND City=@City
END
GO
USE [master]
GO
